{% extends 'base_front.html.twig' %}

{% block title %} Mon compte - AssoBook{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('banner') }}
    {{ encore_entry_link_tags('sidebar') }}
{% endblock %}

{% block body %}
    {{ include('element/banner.html.twig') }}
    <div class="row">
        {{ include('element/sidebar.html.twig') }}
        <div class="col-md-9">coucou</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pwdreset') }}
{% endblock %}
