{% extends 'base_connected.html.twig' %}

{% block title %} Mon profil - AssoBook{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags("profile") }}
{% endblock %}

{% block body %}
        {% set account = association is defined ? association : app.user.association %}
        <div id="apercu" class="flex-wrap mt-4 mx-3 mx-sm-5">
            <div class="d-flex">
                <div class="col-lg-8 col-12 info-account p-0">
                    <div class="banner-img">
                        {% set userConnect = account ? account.UserAccount : app.user.adherent.UserAccount %}
                        {% set pathBanner = userConnect.couverture ? "assets/images/profile/uploads/couverture/"~userConnect.couverture~"" : "assets/images/logo/banner-default.jpg" %}
                        <img src="{{ asset(pathBanner) }}" alt="">
                    </div>
                    <div class="detail-account">
                        <div class="photo-profile shadow-sm bg-white mx-sm-0 mx-auto rounded mb-4">
                            {% set pathAvatar = userConnect.photo ? "assets/images/profile/uploads/user/"~userConnect.photo~"" : "assets/images/logo/default-avatar.jpeg" %}
                            <img class="rounded" src="{{ asset(pathAvatar) }}" alt="">
                        </div>
                        <div>
                            <h2>
                                {% if account %}
                                    <p class="d-flex flex-wrap justify-content-sm-start justify-content-center">{{ account.name }}</p>
                                {% else %}
                                    <div class="d-flex flex-wrap justify-content-sm-start justify-content-center">
                                        <p class="pr-1">{{ app.user.adherent.firstname }}</p>
                                        <p>{{ app.user.adherent.lastname }}</p>
                                    </div>
                                {% endif %}
                            </h2>
                            <p class="mb-2 text-center text-sm-left">{{ account ? account.description : app.user.adherent.bio }}</p>
                            <div class="d-flex info-details-account align-items-center justify-content-center justify-content-sm-start flex-wrap">
                                {{ account ? account.theme.name|capitalize : (app.user.adherent.gender ? 'Masculin' : 'Féminin') }}
                                <i class="fas fa-circle px-2"></i>
                                {% if account %}
                                    {{ account.address.city ~ ', ' ~ account.address.region }}
                                    <i class="fas fa-circle px-2"></i>
                                    {{ account.adherents|length}} followers
                                {% else %}
                                    {{ app.user.adherent.associations|length }} Suivi(s)
                                {% endif %}
                            </div>
                            {% if account %}
                            <div class="text-sm-left text-center">
                                <a href="#">Voir les {{ account.theme.associations|length}} associations du type :
                                    {{ account.theme.name|capitalize }} <i class="fas fa-arrow-right" style="font-size:14px;"></i></a>
                            </div>
                            {% endif %}
                            <div class="d-flex flex-wrap mt-3 mx-sm-0 mx-auto" style="width:65%">

                                <div class="col-sm-5 col-12 p-1">
                                    {% if app.user.adherent is not null and app.request.get('_route') is not same as('profile_account') %}
                                        <form action="" method="post">
                                            <button class="btn btn-form btn-form-blue w-100" style="color:white !important;"><i class="fas fa-plus-circle"></i> Follow</button>
                                        </form>
                                    {% elseif app.user.adherent is not null and app.request.get('_route') is same as('profile_account') %}
                                        <a href="{{ path('profile_update') }}" class="btn btn-form btn-form-blue w-100" style="color:white !important;"><i class="fas fa-pencil-alt" style="font-size:13px !important;"></i> Modifier</a>
                                    {% else %}
                                        {% if app.user.association is same as account %}
                                            <a href="{{ path('profile_update') }}" class="btn btn-form btn-form-blue w-100" style="color:white !important;"><i class="fas fa-pencil-alt" style="font-size:13px !important;"></i> Modifier</a>
                                        {% else %}
                                            <a href="#" class="btn btn-form btn-form-blue w-100" style="color:white !important;"><i class="fas fa-envelope" style="font-size:13px !important;"></i> Contacter</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                {% if account and account.website is not null %}
                                    <div class="col-sm-5 col-12 p-1">
                                        <a href="{{ account.website }}" class="btn btn-form btn-form-outline-blue w-100"><i class="fas fa-eye" style="font-size:13px !important;"></i> Voir le site</a>
                                    </div>
                                {% endif %}
                                <div class="col-sm-2 col-12 p-1">
                                    <div class="dropdown">
                                        <button class="btn btn-form btn-form-light w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ...
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex p-0 my-3 d-flex align-items-center menuAncrage flex-wrap flex-md-nowrap justify-content-center justify-content-md-start">
                        <div class="content">
                            <a href="#apercu">Aperçu</a>
                        </div>
                        <div class="pipe p-0 d-none d-sm-block">|</div>
                        <div class="content">
                            <a href="#a-propos">À propos</a>
                        </div>
                        <div class="pipe p-0 d-none d-sm-block">|</div>
                        <div class="content">
                            <a href="#mes-abonnements">Mes abonnements</a>
                        </div>
                        <div class="pipe p-0 d-none d-sm-block">|</div>
                        <div class="content">
                            <a href="#mes-evenements">Mes événements</a>
                        </div>
                        <div class="pipe p-0 d-none d-sm-block">|</div>
                        <div class="content">
                            <a href="#mes-publications">Mes publications</a>
                        </div>
                    </div>
                    <div>
                        <section id="a-propos" class="menuAncrage p-3 mb-3">
                            <p>A propos</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                        </section>
                        <section id="mes-abonnements" class="menuAncrage p-3 mb-3">
                            <p>Mes abonnements</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                        </section>
                        <section id="mes-evenements" class="menuAncrage p-3 mb-3">
                            <p>Mes événements</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                        </section>
                        <section id="mes-publications" class="menuAncrage p-3 mb-3">
                            <p>Mes publications</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                            <p>dizehdzedez</p>
                        </section>
                    </div>
                </div>
                <div class="col-md-4 p-0 col-12 d-none d-lg-block">
                    {{ include("element/show_association.html.twig") }}
                </div>
            </div>
        </div>
        <button id="scroll-to-up"><i class="fas fa-arrow-up"></i></button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}