{% extends 'base_connected.html.twig' %}

{% block title %} Mon profil - AssoBook{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags("profile") }}
{% endblock %}

{% block body %}
    {% set urlActiveProfil = app.request.get('_route') is same as('profile_account') %}
    {% set conditionAdherent = app.request.get('_route') is same as('profile_show_adherent') %}
    {% set conditionAssociation = app.request.get('_route') is same as('profile_show') %}
    {% set getAssoc = urlActiveProfil ? app.user.association : (conditionAssociation ? association : '')  %}
    {% set getAdh = urlActiveProfil ? app.user.adherent : (conditionAdherent ? adherent : '')  %}
    <div id="apercu" class="flex-wrap mt-4 mx-3 mx-sm-5">
        <div class="d-flex">
            <div class="col-lg-8 col-12 info-account p-0">
                <div class="banner-img">
                    {% set userConnect = getAssoc ? getAssoc.userAccount : getAdh.userAccount %}
                    {% set pathBanner = userConnect.couverture ? "assets/images/profile/uploads/couverture/"~userConnect.couverture~"" : "assets/images/logo/banner-default.jpg" %}
                    <img src="{{ asset(pathBanner) }}" alt="">
                </div>
                <div class="detail-account">
                    <div class="photo-profile shadow-sm bg-white mx-sm-0 mx-auto rounded mb-4">
                        {% set pathAvatar = userConnect.photo ? "assets/images/profile/uploads/user/"~userConnect.photo~"" : "assets/images/logo/default-avatar.jpeg" %}
                        <img class="rounded" src="{{ asset(pathAvatar) }}" alt="">
                    </div>
                    <div>
                        <h2>
                            {% if getAssoc %}
                                <p class="d-flex flex-wrap justify-content-sm-start justify-content-center">{{ getAssoc.name }}</p>
                            {% else %}
                                <div class="d-flex flex-wrap justify-content-sm-start justify-content-center">
                                    <p class="pr-1">{{ getAdh.firstname }}</p>
                                    <p>{{ getAdh.lastname }}</p>
                                </div>
                            {% endif %}
                        </h2>
                        <p class="mb-2 text-center text-sm-left">{{ getAssoc ? getAssoc.description : getAdh.bio }}</p>
                        <div class="d-flex info-details-account align-items-center justify-content-center justify-content-sm-start flex-wrap">
                            <p class="m-0">{{ getAssoc ? getAssoc.theme.name|capitalize : (getAdh.gender ? 'Masculin' : 'Féminin') }}</p>
                            <i class="fas fa-circle px-2"></i>
                            {% if getAssoc %}
                                <p class="m-0">{{ getAssoc.address.city ~ ', ' ~ getAssoc.address.region }}</p>
                                <i class="fas fa-circle px-2"></i>
                                <p class="m-0">{{ getAssoc.adherents|length}} follower {{ getAssoc.adherents|length > 1 ? 's' : ''}}</p>
                            {% else %}
                                <p class="m-0">{{ getAdh.associations|length }} Suivi(s)</p>
                            {% endif %}
                        </div>
                        {% if getAssoc %}
                            <div class="text-sm-left text-center">
                                <a href="{{ path('profile_list_association',{"id": getAssoc.theme.id}) }}">Voir les {{ getAssoc.theme.associations|length}} associations du type :
                                    {{ getAssoc.theme.name|capitalize }} <i class="fas fa-arrow-right" style="font-size:14px;"></i></a>
                            </div>
                        {% endif %}
                        <div class="d-flex flex-wrap mt-3 mx-sm-0 mx-auto" style="width:65%">

                            <div class="col-sm-5 col-12 p-1">
                                {% if app.user.adherent and conditionAssociation %}
                                    {% if getAssoc in app.user.adherent.associations %}
                                        <button data-id="{{ getAssoc.id }}" class="btn btn-form btn-form-outline-blue w-100 follow"><i class="fas fa-minus-circle" style="font-size:13px !important;"></i> Ne plus suivre</button>
                                    {% else %}
                                        <button data-id="{{ getAssoc.id }}" class="btn btn-form btn-form-blue w-100 follow" style="color:white !important;"><i class="fas fa-plus-circle"></i> Follow</button>
                                    {% endif %}
                                {% elseif getAdh  %}
                                    {% if getAdh is same as app.user.adherent %}<a href="{{ path('profile_update') }}" class="btn btn-form btn-form-blue w-100" style="color:white !important;"><i class="fas fa-pencil-alt" style="font-size:13px !important;"></i> Modifier</a>
                                    {% else %}<a href="#" class="btn btn-form btn-form-blue w-100" style="color:white !important;"><i class="fas fa-envelope" style="font-size:13px !important;"></i> Contacter</a>
                                    {% endif %}
                                {% else %}
                                    {% if getAssoc is same as app.user.association %}<a href="{{ path('profile_update') }}" class="btn btn-form btn-form-blue w-100" style="color:white !important;"><i class="fas fa-pencil-alt" style="font-size:13px !important;"></i> Modifier</a>
                                    {% else %}<a href="#" class="btn btn-form btn-form-blue w-100" style="color:white !important;"><i class="fas fa-envelope" style="font-size:13px !important;"></i> Contacter</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if getAssoc and getAssoc.website is not null %}
                                <div class="col-sm-5 col-12 p-1">
                                    <a href="{{ getAssoc.website }}" class="btn btn-form btn-form-outline-blue w-100"><i class="fas fa-eye" style="font-size:13px !important;"></i> Voir le site</a>
                                </div>
                            {% endif %}
                            <div class="col-sm-2 col-12 p-1">
                                <div class="dropdown">
                                    <button class="btn btn-form btn-form-light w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ...
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ include("element/info_user_profile.html.twig") }}
            </div>
            <div class="col-md-4 p-0 col-12 d-none d-lg-block">
                {{ include("element/show_association.html.twig") }}
            </div>
        </div>
    </div>
    <button id="scroll-to-up"><i class="fas fa-arrow-up"></i></button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags("readmore") }}
    {{ encore_entry_script_tags("suggestions") }}
{% endblock %}