{% extends 'base_connected.html.twig' %}

{% block title %} Association par thème - AssoBook{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags("profile") }}
    {{ encore_entry_link_tags('pagination') }}
{% endblock %}

{% block body %}
    <div id="apercu" class="flex-wrap mt-4 mx-3 mx-sm-5">
        <h1 class="text-center">{{ app.request.server.get("REQUEST_URI") is same as '/reseau' or (search is defined and search is empty)  ? "Utilisateur Assobook" : (theme is not defined ? "Recherche : " ~ search ~ "" : 'Liste des associations par thème : '~theme~'') }}</h1>
        <div class="d-flex flex-wrap justify-content-center">
            {% for user in users|sort %}
                {% set pathBanner = user.userAccount.couverture ? "assets/images/profile/uploads/couverture/"~ user.userAccount.couverture~"" : "assets/images/logo/banner-default.jpg" %}
                {% set pathAvatar = user.userAccount.photo ? "assets/images/profile/uploads/user/"~user.userAccount.photo~"" : "assets/images/logo/default-avatar.jpeg" %}
                <div class="card m-3" style="width: 20rem;">
                    <div class="position-relative">
                        <img class="card-img-top" src="{{ asset(pathBanner) }}" alt="" width="260" height="180">
                        <div class="position-absolute">
                            <img class="img-avatar" src="{{ asset(pathAvatar) }}" alt="">
                        </div>
                    </div>
                    <div class="card-body d-flex flex-wrap align-content-between justify-content-center">
                        <h5 class="card-title text-center col-12">{{ user.name ?? (user.firstname ~ ' ' ~ user.lastname) }}</h5>
                        <div class="card-text text-center row col-12">
                            <i class="m-0 col-12">{{ user.name is defined ? (user.address.city ~ ', ' ~ user.address.region) : (user.gender ? 'Masculin' : 'Féminin') }}</i>
                            <i class="mb-3 col-12">{{ user.adherents is defined ? user.adherents|length ~ ' follower' ~ (user.adherents|length > 1 ? 's' : '') : user.associations|length ~ ' suivi' ~ (user.associations|length > 1 ? 's' : '')}} </i>

                        </div>
                        <a href="{{ path(user.name is defined ? 'profile_show' : 'profile_show_adherent', {"id":user.id}) }}" class="btn btn-primary">{{ user.name is defined ? 'Voir association' : 'Voir adhérent' }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}