{% extends 'base_connected.html.twig' %}

{% block title %} Association par thème - AssoBook{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags("profile") }}
    {{ encore_entry_link_tags('pagination') }}
{% endblock %}

{% block body %}
    <div id="apercu" class="flex-wrap mt-4 mx-3 mx-sm-5">
        <h1 class="text-center">Liste des associations par thème : <i>{{ theme }}</i></h1>
        <div class="d-flex flex-wrap justify-content-center">
            {% for user in users|sort %}
                {% set pathBanner = user.userAccount.couverture ? "assets/images/profile/uploads/couverture/"~ user.userAccount.couverture~"" : "assets/images/logo/banner-default.jpg" %}
                {% set pathAvatar = user.userAccount.photo ? "assets/images/profile/uploads/user/"~user.userAccount.photo~"" : "assets/images/logo/default-avatar.jpeg" %}
                <div class="card m-3" style="width: 20rem;">
                    <div class="position-relative">
                        <img class="card-img-top" src="{{ asset(pathBanner) }}" alt="" width="260" height="180">
                        <div class="position-absolute">
                            <img class="img-avatar" src="{{ asset(pathAvatar) }}" alt="">
                        </div>
                    </div>
                    <div class="card-body d-flex flex-wrap align-content-between justify-content-center">
                        <h5 class="card-title text-center">{{ user.name }}</h5>
                        <div class="card-text text-center row">
                            <i class="m-0 col-12">{{ user.address.city ~ ', ' ~ user.address.region }}</i>
                            <i class="mb-3 col-12">{{ user.adherents|length}} follower {{ user.adherents|length > 1 ? 's' : ''}}</i>
                        </div>
                        <a href="{{ path('profile_show', {"id":user.id}) }}" class="btn btn-primary">Voir association</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}