{% extends 'base_front.html.twig' %}

{% block title %} Completer Inscription - AssoBook{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formAuth') }}
{% endblock %}

{% block scripts %}
    {# Allez sur google cloud plateform pour récupérer l'api créer #}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=YOUR_API_KEY"></script>
{% endblock %}

{% block body %}
    <div class="box d-flex justify-content-center align-items-center">
        <div id="cercle"><a href="{{ path('default_index') }}">X</a></div>
        {{ form_start(form) }}
        <h1>Completez votre profil</h1>
            {% if is_granted('ROLE_ADH') %}
                <div class="fullname_inline">
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                </div>
                {{ form_row(form.birthday) }}
            {% elseif is_granted('ROLE_ASSOC') %}
                <div class="row">
                    <div class="col-lg-6">{{ form_row(form.name) }}</div>
                    <div class="col-lg-6">{{ form_row(form.theme) }}</div>
                    <div class="col-lg-12">{{ form_row(form.description) }}</div>
                    <div class="col-lg-12">{{ form_row(form.website) }}</div>
                    <div class="col-lg-12">{{ form_row(form.adress.street) }}</div>
                    <div class="col-lg-6">{{ form_row(form.adress.city, {'attr': {'readonly': true}}) }}</div>
                    <div class="col-lg-6">{{ form_row(form.adress.postalCode, {'attr': {'readonly': true}}) }}</div>
                    <div class="col-lg-6">{{ form_row(form.adress.region, {'attr': {'readonly': true}}) }}</div>
                    <div class="col-lg-6">{{ form_row(form.adress.country, {'attr': {'readonly': true}}) }}</div>
                </div>
            {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags("autocomplete") }}
{% endblock %}