{% extends 'base_connected.html.twig' %}

{% block title %} Accueil - AssoBook{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homePublication') }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
    {% set urlActiveProfil = app.request.get('_route') is same as('default_connect') %}
    {% set conditionAdherent = app.request.get('_route') is same as('default_show_adherent') %}
    {% set conditionAssociation = app.request.get('_route') is same as('default_show') %}
    {% set getAssoc = urlActiveProfil ? app.user.association : (conditionAssociation ? association : '') %}
    {% set getAdh = urlActiveProfil ? app.user.adherent : (conditionAdherent ? adherent : '') %}

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron" id="jumbo">
            <div class="container">
                {% if getAdh %}
                    <h1 class="display-4">Bonjour, {{ app.user.adherent.firstname }} &#128075;&#127995;</h1>
                {% else %}
                    <h1 class="display-4">Bonjour, {{ app.user.association.name }} &#128075;&#127995;</h1>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card m-5" style="width: 20rem;">
                        <div class="position-relative">
                            {% set userConnect = getAssoc ? getAssoc.userAccount : getAdh.userAccount %}
                            {% set pathBanner = userConnect.couverture ? "assets/images/profile/uploads/couverture/"~userConnect.couverture~"" : "assets/images/logo/banner-default.jpg" %}
                            <img class="card-img-top" src="{{ asset(pathBanner) }}" alt="user_banner" width="260"
                                 height="180">
                            <div class="position-absolute">
                                {% set pathAvatar = userConnect.photo ? "assets/images/profile/uploads/user/"~userConnect.photo~"" : "assets/images/logo/default-avatar.jpeg" %}
                                <img class="img-avatar" src="{{ asset(pathAvatar) }}" alt="user">
                            </div>
                        </div>
                        <div class="card-body d-flex flex-wrap align-content-between justify-content-center">
                            {% if getAdh %}
                                <h5 class="card-title text-center col-12">{{ getAdh.firstname }} {{ getAdh.lastname }}</h5>
                            {% else %}
                                <h5 class="card-title text-center col-12">{{ getAssoc.name }}</h5>
                            {% endif %}
                            <a href="/profil" class="btn btn-primary">Voir le profil</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    {% if getAdh %}
                        {% if publications is not empty %}
                            {% for publication in publications|sort((a, b) => b.datePublication <=> a.datePublication) %}
                                <section class="demo m-5">
                                    <div class="d-flex flex-column comment-section demo">
                                        <div class="bg-white p-4 m-2">
                                            <div class="d-flex flex-row user-info">
                                                <img class="rounded-circle"
                                                     src="https://i.imgur.com/RpzrMR2.jpg"
                                                     width="40">
                                                <div class="d-flex flex-column justify-content-start ml-2">
                                                    <span class="d-block font-weight-bold name">{{ publication.association.name }}</span>
                                                    <span class="date text-black-50">le {{ publication.datePublication|date('d/m/Y à H:i') }}</span>
                                                </div>
                                            </div>
                                            <div class="mt-2">
                                                <hr>
                                                <p class="comment-text">
                                                    {{ publication.description }}
                                                </p>
                                                <hr>
                                                {% for commentaire in publication.commentaires %}
                                                    {{ commentaire.content }}
                                                {% endfor %}
                                                <hr>
                                                <div>
                                                    <form action="{{ path('add_comment', {id: publication.id}) }}">
                                                        <input type="text" name="commentaire" class="form-control" placeholder="Votre commentaire..." idPublication="{{ publication.id }}">
                                                        <button class="submit" id="envoi">Envoyer</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endfor %}
                        {% else %}
                            <h1 class="mt-5">Aucune publication n'a été trouvé &#128533;</h1>
                            <p class="lead">Essayer de suivre des associaitions pour voir leurs publications !</p>
                        {% endif %}
                    {% else %}
                        {{ form(formPublication) }}
                        {% if assocPublications is not empty %}
                            {% for assocPub in assocPublications|sort((a, b) => b.datePublication <=> a.datePublication) %}
                                <section class="demo">
                                    <div class="d-flex flex-column comment-section">
                                        <div class="bg-white p-4 m-2">
                                            <div class="d-flex flex-row user-info">
                                                <img class="rounded-circle"
                                                     src="https://i.imgur.com/RpzrMR2.jpg"
                                                     width="40">
                                                <div class="d-flex flex-column justify-content-start ml-2">
                                                    <span class="d-block font-weight-bold name">{{ assocPub.association.name }}s</span>
                                                    <span class="date text-black-50">le {{ assocPub.datePublication|date('d/m/Y à H:i') }}</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="mt-2">
                                                <p class="comment-text"> {{ assocPub.description }}</p>
                                            </div>
                                            <hr>
                                            {% for commentaire in assocPub.commentaires %}
                                                {{ commentaire.content }}
                                            {% endfor %}
                                            <hr>
                                            <div>
                                                <form action="{{ path('add_comment', {id: assocPub.id}) }}">
                                                    <input type="text" name="commentaire" class="form-control" placeholder="Votre commentaire..." idPublication="{{ assocPub.id }}">
                                                    <button class="submit" id="envoi">Envoyer</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endfor %}
                        {% else %}
                            <h1 class="mt-5">Aucune publication n'a été trouvé &#128533;</h1>
                            <p class="lead">Essayer de créer une publication pour vos adhérents !</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div> <!-- /container -->

    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags("home") }}
{% endblock %}