{% extends 'base_connected.html.twig' %}

{% block title %} Carte interactive {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags("carte") }}
{% endblock %}

{% block body %}

    <style>
        .loader{
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('https://i.pinimg.com/originals/65/ba/48/65ba488626025cff82f091336fbf94bb.gif')
            50% 50% no-repeat rgb(249,249,249);
        }
    </style>

    <h3 style="padding: 15px 15px 15px 15px" class="lead">Liste des associations les plus proches de vous (30km)</h3>

    <div class="container-cart">
        <div class="list">
            <div class="loader"></div>
            {% for key,assoc in associations %}
            <div class="d-none association js-marker" data-lat="{{ assoc.address.latitude }}" data-lng=" {{ assoc.address.longitude }}" data-name="{{ assoc.name }}" data-assoc="{{ assoc.address.street }}, {{ assoc.address.city }}, {{ assoc.address.region }}" data-id="{{ assoc.id }}">
                <img src="https://www.allmysms.com/wp-content/uploads/group-300x300.png" alt="">
                <h4>
                    <a href="" class="link-assoc" id="link-assoc">
                        {{ assoc.name }}
                    </a>
                </h4>
                <p>{{ assoc.address.street }}, {{ assoc.address.city }}, {{ assoc.address.region }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="map" id="map"></div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    {{ encore_entry_script_tags("cart") }}
{% endblock %}
