{% extends 'base_front.html.twig' %}

{% block title %}Publication{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
    {{ encore_entry_link_tags('publication') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="titleMesPubli">Mes Publications</h2>
        <hr>

        <div>

            {% for publication in publications %}
                <div class="publication col-md-10">
                    <p><strong>{{ publication.association.name }}</strong> - a publier une publication le :</p>

                    <p>{{ publication.datePublication|date("d/m/Y") }}</p>
                    <p>{{ publication.description }}</p>

                    <!--<button><a href="{{ path('publication_show', {'id': publication.id}) }}">Voir la
                        publication</a>-->
                    </button>
                    {% if app.user.association.id == publication.association.id %}
                        <a class="btn btn-primary" href="{{ path('publication_edit', {'id': publication.id}) }}">Modifier</a>

                    {% endif %}
                </div>
            {% else %}
                <p>Aucune publication pour l'instant</p>
            {% endfor %}
            <button><a href="{{ path('publication_new') }}">Ajouter une publication</a></button>
        </div>
    </div>
{% endblock %}
