{% extends 'profile/account.html.twig' %}

{% block title %}Publication{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
    {{ encore_entry_link_tags('publication') }}
{% endblock %}

{% block profile %}
    <div class="container">
        <h2 class="titleMesPubli">Mes Publications</h2>
        <hr>

        <div>

            {% for publication in publications %}
                <div class="publication col-md-10">
                    <p><strong>{{ publication.association.name }}</strong> - a publier une publication le :</p>

                    <p>{{ publication.datePublication|date("d/m/Y") }}</p>
                    {% if publication.event is not null %}
                        <p>Du {{ publication.event.startDate|date("d/m/Y") }} au {{ publication.event.endingDate|date("d/m/Y") }}.</p>
                        <h5>{{ publication.event.title }}</h5>
                    {% endif %}
                    <p>{{ publication.description }}</p>

                    <div class="commentaire">
                        <b>Commentaire :</b>
                    {% for comment in publication.comments.values %}
                        <p>{{ comment.comment }} à <i>{{ comment.publicationDate|date('H:i d/m/y') }}</i></p>
                    {% endfor %}
                    </div>

                    <!--<button><a href="{{ path('publication_show', {'id': publication.id}) }}">Voir la
                        publication</a></button>-->
                    {% if app.user.association is not null and  app.user.association.id == publication.association.id %}
                        <a class="btn btn-primary" href="{{ path('publication_edit', {'id': publication.id}) }}">Modifier</a>

                    {% endif %}

                    {{ form_start(formComment) }}
                        {{ form_widget(formComment) }}
                        <input hidden aria-label="commentaire" name="publication" value="{{publication.id}}">
                        <button class="btn">{{ button_label|default('Save') }}</butto>
                    {{ form_end(formComment) }}

                </div>
            {% else %}
                <p>Aucune publication pour l'instant</p>
            {% endfor %}
            {% if app.user.association %}
                <a class="btn btn-outline-primary" href="{{ path('publication_new') }}">Ajouter une publication</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
