{% extends 'profile/account.html.twig' %}

{% block title %}Publication{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block profile %}
    <h1 class="text-red">Mes Publications</h1>

    <div class="publication" style="border: solid 1px lightgrey; border-radius: 20px; width: 50%; margin: auto;">


        <table class="table">
            <thead>
            <tr>
                <th>Association</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for publication in publications %}

                <tr>
                    <td>{{ publication.association.name }}</td>
                    <td>{{ publication.id }}</td>
                    <td>{{ publication.description }}</td>
                    <td>
                        <button><a href="{{ path('publication_show', {'id': publication.id}) }}">Voir la publication</a>
                        </button>
                        {% if app.user.association.id == publication.association.id %}
                            <button><a href="{{ path('publication_edit', {'id': publication.id}) }}">Modifier</a>
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        {{ form_start(formComment) }}
                            {{ form_widget(formComment) }}
                            <input type="hidden" value="{{publication.id}}" name="publication">
                            <button class="btn">{{ button_label|default('Save') }}</button>
                        {{ form_end(formComment) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune publication pour l'instant</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button><a href="{{ path('publication_new') }}">Ajouter une publication</a></button>

    </div>
{% endblock %}
