{% extends 'profile/account.html.twig' %}

{% block title %}Ajouter une Publication{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
    {{ encore_entry_link_tags('publication') }}
{% endblock %}

{% block body %}
    <h2>Créer une nouvelle Publication</h2>
    <hr>

    {{ include('publication/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('publication_index') }}">< Retour aux publications</a>
{% endblock %}
