{% extends 'base_front.html.twig' %}

{% block title %}Se connecter - AssoBook{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/formAuth.css') }}">{% endblock %}

{% block body %}
    <div class="box">
        <div id="cercle"><a href="{{ path('default_index') }}">X</a></div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1>Connexion</h1>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   placeholder="Email" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
                   required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-primary" type="submit">Connexion</button>
            <div class="column_flex">
                <a class="forgetmdp" href="#">Mot de passe oublié ?</a>
                <p>Pas encore inscrit ? <a class="forgetmdp" href="{{ path('register') }}">Inscrivez-vous maintenant !</a></p>
            </div>
        </form>
    </div>
{% endblock %}
