{% extends 'base_front.html.twig' %}

{% block title %}{{ app.request.get('_route') is same as('forgetpwd') ? 'Mot de passe oublié' : 'Réinitialisation mot de passe' }} - AssoBook{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formAuth') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="box d-flex justify-content-center align-items-center">
            {{ form_start(form) }}
                <div id="cercle"><a href="{{ path('default_index') }}"><i class="fas fa-times"></i></a></div>
                <h1>
                    {{ app.request.get('_route') is same as('forgetpwd') ? 'Mot de passe oublié' : 'Réinitialisation de votre mot de passe' }}
                </h1>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}