{% if app.request.get('_route') is not same as('app_login') and
app.request.get('_route') is not same as('register') and
app.request.get('_route') is not same as('profile_register') and
app.request.get('_route') is not same as('forgetpwd') and
app.request.get('_route') is not same as('resetpwd') %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="{{ path('default_index') }}">
      <img
        src="{{ asset('assets/images/official/vector/logo.png') }}"
        heigh="50px"
        width="200px"
        alt="Logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}"
            ><i class="bi bi-box-arrow-left" style="margin-right: 1em"></i
            >Déconnexion</a
          >
        </li>
        {% else %}
        <a class="nav-link" href="{{ path('app_login') }}"
          ><i class="bi bi-box-arrow-in-right" style="margin-right: 1em"></i
          >Connexion</a
        >
        <li class="nav-item">
          <a class="nav-link" href="{{ path('register') }}"
            ><i class="bi bi-person-plus" style="margin-right: 1em"></i
            >Inscription</a
          >
        </li>
        {% endif %} {% if is_granted('ROLE_ADH') or is_granted('ROLE_ASSOC') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('profile_register') }}"
            >Finir mon inscription</a
          >
        </li>
        {% elseif app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('profile_account') }}"
            ><i class="bi bi-house-door" style="margin-right: 0.5em"></i>
            {{
              is_granted("ROLE_ASSOC_CONFIRME")
                ? app.user.association.name
                : app.user.adherent.firstname
            }}</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endif %}
