<div class="info-other-association ml-md-4 mt-md-0 mt-4 px-3 py-4 shadow-sm bg-white">
    {% set allAssoc = allAssoc is defined ? allAssoc : '' %}
    {% set isAssoc = association is defined ? association.theme.associations : (app.user.association ? app.user.association.theme.associations : '') %}
    {% set hasAssoc = allAssoc is not empty ? allAssoc : isAssoc %}
    <p class="text-sm-center">D'autres associations à découvrir </p>
    {% for assoc in hasAssoc|slice(0,5) %}
        {% set pathPhoto = assoc.UserAccount.couverture ? "assets/images/profile/uploads/user/"~assoc.UserAccount.photo~"" : "assets/images/logo/default-avatar.jpeg" %}
        <div class="row align-items-center mb-3">
            <div class="col-lg-2 col-md-12 text-lg-left text-md-center"><img src="{{ asset(pathPhoto) }}" alt="" width="40" height="40"></div>
            <div class="col-lg-7 col-md-12 text-lg-left text-md-center">
                <p class="m-0" style="font-size:13px;">{{ assoc.name }}</p>
                <p class="m-0" style="opacity: 0.4;font-size:12px"> {{ assoc.theme.name|capitalize }} - {{ assoc.adherents|length }} follower{{ assoc.adherents|length > 1 ? 's' : '' }}</p>
            </div>
            <div class="col-lg-3 col-md-12 text-center">
                <a href="{{ path('profile_show', {"id": assoc.id}) }}"><i class="design-logo fas fa-eye"></i></a>
            </div>
        </div>
    {% endfor %}
</div>