<div class="sidebar col-md-3">
    <hr>
    <div>
        <img src="{{ asset('assets/images/icons/id-card.svg') }}">
        {% if app.user.adherent %}
        <p data-id="id" data-elem="adh-firstname" contenteditable>{{ app.user.adherent.firstname }}</p>
        <p data-id="id" data-elem="adh-lastname" contenteditable>{{ app.user.adherent.lastname }}</p>
        {% elseif app.user.association %}
            <p data-id="id" data-elem="assos" contenteditable>{{ app.user.association.name }}</p>
        {% endif %}
    </div>
    {% if app.user.adherent %}
    <div>
        <img src="{{ asset('assets/images/icons/link.svg') }}">
        <p>suit : 0 association(s)</p>
    </div>
    {% elseif app.user.association %}
        <div>
            <img src="{{ asset('assets/images/icons/calendar.svg') }}">
            <p>Crée : {{ app.user.registerDate|date('d/m/Y') }}</p>
        </div>

        <div>
            <img src="{{ asset('assets/images/icons/link.svg') }}">
            <p>est suivi par : 0 adhérent(s)</p>
        </div>

        <div>
            <img src="{{ asset('assets/images/icons/location.svg') }}">
            <p>situé : {{ app.user.association.location }}</p>
        </div>
    {% endif %}
    <div class="upd-pwd">
        <span>Modifier mot de passe</span>
    </div>
    <div class="d-none">
        {{ form(form) }}
        <div class="btn btn-secondary">Annuler</div>
    </div>
</div>