<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}AssoBook{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    {% block stylesheets %}
        {{ encore_entry_link_tags("globalConnect") }}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.1.3/dist/css/autoComplete.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4"></script>
    <link rel="icon" type="image/png" href="{{ asset("assets/images/official/logo-assobook.png") }}" />
    {% block scripts %}
    {% endblock %}
</head>
<body>
{{ include("element/navbar_connected.html.twig") }}

<div class="padding-nav-fixed">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="notice d-flex justify-content-center text-center mt-2">
                <div class="w-50">
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags("script") }}
{% endblock %}
</body>
</html>
